@import '../../helpers.scss';

.exercise-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100%;
  width: 100%;
  margin-top: 50%;

  .exercise-list {
    width: 100%;
    .exercise-container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      width: 90%;
      margin: 0 auto;
      margin-top: 1.5rem;

      box-sizing: border-box;

      .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .exercise-info {
        display: flex;
        justify-content: space-between;

        width: 100%;
        .input-container {
          width: 30%;
        }
      }

      button.remove-exercise-btn {
        font-size: 0.8rem;
        color: $tertiary-background;
        position: absolute;
        right: 0;

        &:hover,
        &:active {
          color: $secondary-text;
        }
      }
    }
    .add-exercise {
      display: flex;
      justify-content: center;
      width: 100%;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2rem;
        font-size: 1rem;
        color: $tertiary-text !important;
      }
    }
  }
  .prev-exercise-data {
    color: $tertiary-text;
    font-weight: 800;
    font-size: 0.8rem;
    span {
      font-weight: 600;
      color: $tertiary-background;
    }
    button.view-all-btn {
      margin-left: 0.5rem;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
