@import '../../helpers.scss';

.exercise-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - #{$navbar-height} - 7rem);
  width: 100%;
  max-width: $max-width;
  box-sizing: border-box;
  padding: 2rem 0;

  .exercise-list {
    width: 100%;
    .exercise-container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      width: 90%;
      margin: 0 auto;
      margin-top: 1.5rem;

      box-sizing: border-box;

      .input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .exercise-info {
        display: flex;
        justify-content: space-between;

        width: 100%;
        .input-container {
          width: 30%;
        }
      }

      button.remove-exercise-btn {
        font-size: 0.8rem;
        color: $tertiary-background;
        position: absolute;
        right: 0;

        &:hover,
        &:active {
          color: $secondary-text;
        }
      }
    }
    .btns {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      margin-top: 2rem;
      width: 90%;
      // .add-exercise {
      //   display: flex;
      //   justify-content: center;
      //   button {
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     gap: 0.5rem;
      //     font-size: 1rem;
      //     color: $tertiary-text !important;
      //   }
      // }

      button.submit-btn {
        width: 140px;
      }
    }
  }
  .prev-exercise-data {
    color: $tertiary-text;
    font-weight: 800;
    font-size: 0.8rem;
    span {
      font-weight: 600;
      color: $tertiary-background;
    }
    button.view-all-btn {
      margin-left: 0.5rem;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}
