rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /usersData/{userID} {
    	allow read, write: if request.auth.uid == userID
      match /{document=**} {
     	 allow read, write: if request.auth.uid == userID;
    	}
    }
    match /userProfileData/{userID} {
    	allow read
      match /incomingFriendRequests/{friendUID} {
      	allow read: if request.auth.uid == userID
      }
      match /outgoingFriendRequests/{friendUID} {
      	allow read: if request.auth.uid == userID
      }
      match /friends/{friendUID} {
      	allow read: if request.auth.uid == userID
      }
    }
    match /usernames/{username} {
    	allow read, write
    }
  }
}
