@import '../../helpers.scss';

.exercise-pr {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.8rem;
  color: $tertiary-text;
  height: 25px;
  .label-text {
    margin-right: 0.35rem;
  }
  span.weight {
    font-weight: 800;
    color: $secondary-text;
    font-size: 0.9rem;
  }
  span.pr-date {
    color: $tertiary-text;
    padding-left: 0.25rem;
    font-size: 0.8rem;
  }
}
