@import '../../helpers.scss';

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .profile-image-container {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 1rem;
    padding: 0.15rem;
    // box-sizing: border-box;

    .profile-image {
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
    .qr-code-link {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $primary;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      .icon {
        height: 25px;
        width: 25px;
        color: $primary-background;
      }
    }
  }
  .display-name {
    height: 22px;
  }
  .username {
    font-size: 0.8rem;
    font-weight: 700;
    color: $tertiary-text;
    margin-bottom: 1.5rem;
    margin-top: 0.25rem;
    height: 15px;
  }
  .date-joined {
    font-size: 0.8rem;
    font-weight: 700;
    color: $tertiary-text;
    margin-bottom: 1.5rem;
    margin-top: 0.25rem;
  }
  .small-data {
    display: flex;
    gap: 2rem;
    // margin-top: 1rem;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      .value {
        font-size: 1.2rem;
        font-weight: 800;
        height: 22px;
      }
      .label {
        color: $tertiary-text;
        font-size: 0.8rem;
        font-weight: 700;
      }
    }
  }
}
