@import '../../helpers.scss';

.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;

  .input {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    input {
      width: 100%;
      padding-right: 1.5rem;
    }
    button.clear-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0.25rem;
      margin: auto 0;
      height: 100%;
      padding: 0.5rem;
      .icon {
        height: 18px;
        width: 18px;
      }
    }
    .suggested-text {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      top: 1px;
      height: 100%;
      font-weight: 700 !important;
      font-size: 0.95rem !important;
      color: $tertiary-background;
      z-index: 0;
      opacity: 0.5;
      box-sizing: border-box;

      border: 1px solid none;
      pointer-events: none;
      span.invisible {
        color: none;
        opacity: 0;
      }
      span {
        white-space: pre;
      }
    }
  }
}
