@import '../../helpers.scss';

.account-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  button.add-friend-btn {
    width: fit-content;
    text-transform: capitalize;
    margin: 0 auto;
  }
  button.add-friend-btn.pending {
    outline: 1px solid $border-color;
    color: $border-color;
    background: none;

    // filter: brightness(50%);
  }
  .account-header {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }
}
