@import '../../../helpers.scss';

.incoming-requests-page {
  width: 100%;
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px;
    width: 150px;

    .outer-circle {
      position: absolute;
      background: $tertiary;
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
    .outer-circle-break {
      position: absolute;
      width: 110%;
      height: 1rem;
      background: $primary-background;
      transform: rotateZ(-45deg);
    }

    // .semi-circle {
    //   position: absolute;
    //   background: $tertiary;
    //   height: 75px;
    //   width: 150px;
    //   border-radius: 150px 150px 0 0;
    // }
    // .top-left-semi-circle {
    //   transform: translateX(-22%) translateY(-44%) rotateZ(-45deg);
    // }
    // .bottom-right-semi-circle {
    //   transform: translateX(22%) translateY(44%) rotateZ(135deg);
    // }
    .icon-inner {
      z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background: $primary-background;
      .icon {
        height: 30px;
        width: 30px;
        stroke-width: 2%;
      }
    }
  }
  .no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .no-data-title {
      font-size: 1.2rem;
      font-weight: 800;
    }
    p {
      max-width: 80%;
      color: $secondary-text;
      text-align: center;
    }
  }
}
