@import './helpers.scss';

:export {
  borderColor: $border-color;
  primaryText: $primary;
  secondaryText: $secondary-text;
  tertiaryText: $tertiary-text;
  primaryBackground: $primary-background;
  tertiaryBackground: $tertiary-background;
  secondary: $secondary;
}
