$primary: #eeeeee;
$secondary: #855ae1;
$placeholder-color: #8e8e8e;

$white-text: #ffffff;
$secondary-text: rgb(204, 204, 204);
$tertiary-text: rgb(119, 119, 119);

$primary-background: #09090b;
$secondary-background: #17171b;
$tertiary-background: #3b3b3f;

$search-input-background: #3d4d64;

$alert-background: #1c2531;

$secondary-background-card: #4a6375;

$max-width: 450px;

$gray-background: #606a7a;

$white: rgb(255, 255, 255);
$gray-50: #fafafa;
$gray-200: #eeeeee;
$gray-300: #e6e6e6;
$gray-400: #d6d6d6;
$gray-500: #bebebe;
$gray-600: #a6a6a6;
$gray-900: #5f5f5f;

$outline: #eee;

$exp-color: #ffa449;
$coin-color: #ffd24a;
$coin-background-color: #3c4245;

$success-green: #28a745;
$error-red: #dc3545;
$error-red-hover: #b02a37;

$alert-error-red: #f8d7da;
$alert-error-red-border: #f5c6cb;
$alert-error-red-text: #721c24;

$like-red: #ed4956;

$navbar-height: 55px;

$page-margin-top: 1.875rem;

$form-label-height: 3.45rem;
$form-input-height: 2.81rem;

$border-color: #272727;
$secondary-border-color: #1f1f1f;
$border-radius: 6px;
$box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

$faded: #17171b;

// Fonts and font-styles
$font-family: 'Nunito', sans-serif;
