@import '../../helpers.scss';

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: $navbar-height;

  padding: 0.5rem 1rem;
  button.logout-btn {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: $tertiary-text;
    font-weight: 800;
    padding: 0.75rem;
    border: 1px solid $secondary-border-color;
    border-radius: $border-radius;
  }
}
